@import '~styles/common/export';

.my-diary {
  .my-diary-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.375rem;
    text-align: left;
  }

  .my-diary-list {
    .diary-card {
      min-height: 230px;
      padding: 16px 16px 36px 16px;
      border: 1px solid #707070;

      &__date,
      &__time {
        font-size: 1.125rem;
      }
      &__note {
        margin-top: 8px;
        font-size: 0.75rem;
      }
    }
  }
}
